<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Vuln06 CleartextHTTP"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:allowBackup="true"
        android:usesCleartextTraffic="true">
        <!--                              ^^^^^^^^^^^^^^^^^^^^^^^^^^
             VULN sink #1: app-wide opt-in to cleartext (HTTP) traffic.
             Equivalent insecure setting: NSC with <base-config cleartextTrafficPermitted="true">
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
